
<label><b>Evento onClick</b></label>
<button (click)="onClickMe()">Click me!</button>
<p>{{clickMessage}}</p>



<label><b>Evento onKeyup con $event</b></label>
<!-- (keyup) è l'evento perchè fra tonde onKey() è la funzione nel .ts di questo componente $event è l'evento di onKey-->
<input (keyup)="onKey($event)">
<p>{{onKeyValues}}</p>


<label><b>Evento onKeyup tipizzato con $event</b></label>
<input (keyup)="onKey2($event)">
<p>{{onKeyValues2}}</p>

<label><b>Evento onKeyup tramite reference variable</b></label>
<!-- #box indica il DOM del tag input, mentre l'evento (keyup)=0 vuoldire che si registra l'evento (keyup), ma senza chiamare funzioni, ma serve per aggiornare il valore di box -->
<input #box (keyup)="0">
<p>{{box.value}}</p>

<label><b>Evento onKeyup tramite reference variable ed evento in .ts</b></label>
<!-- non passo più l'oggetto $event, ma la proprietà value del target input-->
<input #box2 (keyup)="onKey3(box2.value)">
<p>{{onKeyValues3}}</p>

<label><b>Evento onEnter tramite reference variable ed evento in .ts</b></label>
<!-- Evente keyup valido solo per il tasto invio-->
<input #box3 (keyup.enter)="onEnter(box3.value)">
<p>{{onEnterValues}}</p>

<label><b>Evento onBlur oppure onEnter tramite reference variable ed evento in .ts</b></label>
<input #box4
(keyup.enter)="update(box4.value)"
(blur)="update(box4.value)">
<p>{{onBlurOrEnterValues}}</p>