<b>1) Built-in Pipes:</b>
<!-- 
     Le Built-in Pipes sono DatePipe, UpperCasePipe, LowerCasePipe, CurrencyPipe, PercentPipe, AsyncPipe, DecimalPipe,
     I18nPluralPipe, I18nSelectPipe, JsonPipe, SlicePipe 
-->
<b>Date:</b>
<hr>
<!-- Pipe senza parametri -->
<p>1) The hero's birthday is {{ birthday | date }}</p>
<hr>
<!-- Pipe con parametri -->
<p>2) The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>
<hr>
<!-- Pipe con parametri 2 -->
<p>3) The hero's birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Format</button>
<hr>
<!-- Chaining Pipes (prima date e poi uppercase) -->
<p>4) {{ birthday | date | uppercase}}</p>
<hr>
<!-- Chaining Pipes con parametri -->
<p>5) {{  birthday | date:'fullDate' | uppercase}}</p>
<hr>
<!-- Custom Pipes -->
<p>6) 2 elevato a 10 fa: {{2 | exponentialStrength: 10}}</p>
<!-- ngModel con Pipes -->
<p>7) ngModel con Pipes</p>
    <div>Normal power: <input [(ngModel)]="power"></div>
    <div>Boost factor: <input [(ngModel)]="factor"></div>
    <p>
      Super Hero Power: {{power | exponentialStrength: factor}}
    </p>
<hr>
<!-- Pure Pipes e Impure Pipes-->
<p>8) Differenza tra Pure Pipes e Impure Pipes:</p>
<flying-heroes></flying-heroes>
<hr>
<!-- Async Pipe -->
<p>9) Async Pipe: NOTA e' di tipo Impure:</p>
<hero-message></hero-message>
<hr>
<!-- Async Impure Http call Custom Pipe -->
<p>10) Impure Async Http call Custom Pipe:</p>
<hero-list-impure></hero-list-impure>
<hr>