<!--NgModel-->
<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>
<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>
<b>NgModel two-way-binding</b>
<p>
  <input [(ngModel)]="persona.cognome">
</p>
<p>
 {{persona.cognome}}
</p>
<b>
  NgModel scomposto in input e output built-in
</b>
<p>
    <input
    [ngModel]="persona.indirizzo"
    (ngModelChange)="persona.indirizzo=$event">
</p>
<p>
  {{persona.indirizzo}}
</p>
<b>
  NgModel scomposto in input e output di property del DOM
</b>
<p>
  <input [value]="persona.nome"
  (input)="persona.nome=$event.target.value" >
</p>
<p>
  {{persona.nome}}
</p>
<!-------------------------------------------------------------------------------------------------------->
<!--Direttive di attributo NgClass e NgStyle-->
<b>CSS Class dinamiche e NgClass</b>
<p class="rosso">Rosso statico</p>
<p [class]="myColor">Blu dinamico</p>
<p [class.giallo]="isYellow()">Giallo dinamico</p>
<p [ngClass]="'blu'">ngClass1</p>
<p [ngClass]="['blu', 'grassetto']">ngClass2</p>
<p [ngClass]="{'rosso': true, 'italic': true, 'grassetto': false}">ngClass3</p>
<p [ngClass]="['giallo', 'grassetto', 'italic']">ngClass4</p>
<p [ngClass]="{'rosso grassetto italic' : true}">ngClass5</p>

<b>CSS Style dinamico</b>
<p>
  <button [style.color]="isYellow() ? 'red': 'green'">Red</button>
  <button [style.background-color]="isYellow() ? 'cyan': 'grey'" >Save</button>
  <button [style.font-size.em]="isYellow() ? 3 : 1" >Big</button>
  <button [style.font-size.%]="!isYellow() ? 150 : 50" >Small</button>
</p>