a{
    margin-top:5px;
}
.nav-link{
    color:white!important;
}
.nav-link:not(.active){
    color: #ccd6e2!important;
    background-color:#80bcfc!important;
}
.nav-link:not(.active):hover{
background-color:#4798ef!important;
color: white!important;
}