
<b>1) Data Param (Da usare solo per Dati read-only e/o statici):</b>
<b>Si usa invece la Resolve Guard per recuperare i dati dinamici</b>
<p>{{myDataParams}}</p>
<b>2) Path Param:</b>
<p>{{myPathParams}}</p>
<b>3) Query Param:</b>
<p>{{myQueryParam}}</p>

<b>4) Children Routes</b>
<h3 *ngIf="isLoading"><i>Loading heroes ... </i></h3>
<h3 *ngIf="!isLoading">Select a hero:</h3>

<nav>
  <button (click)="getHeroes()" class="btn btn-primary">Refresh</button>
  <br><br>
  <div *ngFor="let hero of heroes | async">
  <button class="search-result" (click)="select(hero)">{{hero.name}}</button>
  <br><br>
  </div>
</nav>
<!--SECONDA router-outlet per i path in children-->
<router-outlet></router-outlet>
